__pycache__/hangman_art.cpython-39.pyc
__pycache__/hangman_words.cpython-39.pyc
__pycache__/art.cpython-39.pyc
Day 8/__pycache__/art.cpython-39.pyc
Day 11/__pycache__/art.cpython-39.pyc
Day 12/__pycache__/art.cpython-39.pyc
Day 13/__pycache__/game_data.cpython-39.pyc
Day 13/__pycache__/art.cpython-39.pyc
Day 14/__pycache__/game_data.cpython-39.pyc
Day 14/__pycache__/art.cpython-39.pyc
Day 16/oop-coffee-machine-start/__pycache__/coffee_maker.cpython-38.pyc
Day 16/oop-coffee-machine-start/__pycache__/menu.cpython-38.pyc
Day 16/oop-coffee-machine-start/__pycache__/money_machine.cpython-38.pyc
Day 16/oop-coffee-machine-start/__pycache__/money_machine.cpython-39.pyc
Day 16/oop-coffee-machine-start/__pycache__/coffee_maker.cpython-39.pyc
Day 16/oop-coffee-machine-start/__pycache__/menu.cpython-39.pyc
Dau 17/__pycache__/data.cpython-39.pyc
Dau 17/__pycache__/question_model.cpython-39.pyc
Day17/__pycache__/data.cpython-39.pyc
Day17/__pycache__/question_model.cpython-39.pyc
Day17/__pycache__/quiz_brain.cpython-39.pyc
Day 18/.idea/misc.xml
Day 18/.idea/Day 18.iml
Day 18/.idea/modules.xml
Day 18/.idea/vcs.xml
Day 18/.idea/inspectionProfiles/profiles_settings.xml
Day 18/.idea/.gitignore
/password-manager/data.txt
/password-manager/data.json
Day-32/birthday-wisher/.env
/rain_alert/.env
/stock-news-normal/.env
/Workout Tracking/.env
/spotify_playlist/.env
/spotify_playlist/token.txt
