<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronen Hammond</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/images/favicon%20.ico" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Sacramento&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="top-container">
        <img class="top-cloud" src="../static/images/cloud.png" alt="cloud-img">
        <h1>I'm Ronen.</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
        <img class="bottom-cloud" src="../static/images/cloud.png" alt="cloud-img">
        <img src="../static/images/mountain.png" alt="">
    </div>
    <div class="middle-container">
        <div class="profile">
            <img class="profile-img" src="../static/images/ronen.png" alt="prfile-img">
            <h2>Hello.</h2>
            <p class="intro">I am a student of the University of Ghana offering BSc. Information Technology. I love to learn new things and I am a
            strong believer in the growth mindset.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="screen-img" src="../static/images/monitor.png" alt="monitor-img">
                <h3>Lorem & Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus,
                    erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row">
                <img class="programming-img" src="../static/images/programming.png" alt="coding-img">
                <h3 >Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris.
                    Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>If you love Anime as much as I do.</h3>
            <p class="contact-message">Think One Piece is awesome? Let's talk I want to know why! We can watch together after taking a break from coding!</p>
            <a class="btn" href="mailto:ronenh53@gmail.com">CONTACT ME</a>
        </div>
    </div>
    
    
    <footer class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/Ronen_T_G">Twitter</a>
        <a class="footer-link" href="https://github.com/RonenTGreat">GitHub</a>
        <p class="copyright">© 2021 Ronen Hammond.</p>
    </footer>

</body>
</html>