<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ronen's Personal Site</title>
        <link rel="stylesheet" href="CSS/styles.css">
    </head>
    <body>
        <table cellspacing="20">
            <tr>
                <td><img src="ronen.png" alt="Ronen's profile picture"></td>
                <td><h1>Ronen Hammond</h1>
                <p><em>Student at <strong><a href="https://www.ug.edu.gh/">University of Ghana</strong></em></p></a></em></p>
                <p>I am a student of the University of Ghana offering BSc. Information Technology. I love to learn new things and I am a
                    strong believer in the growth mindset.</p></td>
            </tr>
        </table>
        <hr>
        <h3>Education</h3>
        <ul>
            <li>Justice Nii Amarh Ollenu Memorial Basic School, 2010 - 2017.</li>
            <li>Labone Senior Secondary School(General Science), 2017 - 2020.</li>
            <li>University of Ghana, 2021 - present.</li>
        </ul>
        <hr>
        <h3>Work Experience</h3>
        <p>No work experience. Let me create value for you by hiring me.</p>
        <hr>
        <h3>Skills</h3>
        <table cellspacing="10">
            <tr>
                <td>Python</td>
                <td>⭐⭐⭐</td>
            </tr>
            <tr>
                <td>C++</td>
                <td>⭐⭐</td>
            </tr>
                <tr>
                    <td>Java</td>
                    <td>⭐⭐</td>
                </tr>
                <tr>
                    <td>Microsoft Office</td>
                    <td>⭐⭐⭐</td>
                </tr>
            </table>

        <hr>
        <a href="hobbies.html">My Hobbies</a>
        <br>
        <a href="contact.html">Contact Me</a>
    </body>
</html>
